@footer-background: rgb(248,249,250);
@label-background: rgb(247,247,247);
@border-color: rgb(232,232,232);
@link-color: #000;
@blue: rgb(13,110,253);
@grey: rgb(108,117,125);
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Trebuchet MS, sans-serif;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    min-height: 7%;
    padding: 1em 2em;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 13px 10px -15px grey;  
}
.logo {
    padding-right: 2em;
    //font-size: 18px;
}
.wrapper {
    &-left{
        display: flex;
        gap: 15px;    
    }
    &-right {
        margin-left: auto;
    }
}
a {
    //font-size: 14px;
    text-decoration: none;
    color: @link-color;
    &:hover{
        color: @blue;
    }
}

footer {
    background-color: @footer-background;
    align-items: center;
    display: flex;
    border-top: medium solid @border-color;
    padding-left: 5em;
    //font-size: 0.8em;
    color: darken(@border-color, 50%);
    min-height: 7%;
    //font-size: 15px;
}
main {
    flex: 1 1 auto;
    display: flex;
    align-items: start;
    justify-content:center;
}

.container{
    min-width: 65%;
    max-width: 70%;
    &-btn{
        width: 100%;
        float: right;
        display: block;
    }

    &-filters{
        display: inline-block;
        min-height: 100px;
        width: 100%;
        border-radius: 3px;
        border: thin solid @border-color;

        &-filterName{
            //font-size: 15px;
            background-color: @label-background;
            padding: 8px;
            border-bottom: thin solid @border-color;
        }

        &-form{
            //font-size: 13px;
            padding: 15px;
            &-up{
                display: flex;
                justify-content: space-between;

                .container-field{
                    width: 49%;
                }
                
            }
            &-down{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                gap: 20px;

                &-left, &-right {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 15px;
                    flex: 1 1 100%; 
                    width: 49%; 
                    justify-content: space-between;
                    .input{
                        max-width: 200px;
                    }
                }
               
            }

        }
    }
    &-field{
        //font-size: 13px;
        display: flex;
        flex-direction: column;
    }
    &-checkbox{
        
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        position: relative;
        gap: 10px;
        margin-top: 10px;

        label{
            //font-size: 13px;
        }
    }

    &-posts{
        margin-top: 10px;
        &-footer{
            background-color: @label-background;
            display: flex;
            justify-content: space-between;
            border: thin solid @border-color;
            padding: 8px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;

        }
          
        &-comment, &-likes{
            display: flex;
            gap: 5px;
            align-items: center;
        }
        &-body {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 15px;
            border: thin solid @border-color;
            

            .upper{
                
                padding-bottom: 10px;
                border-bottom: 2px solid @border-color;
                width: 100%;

                .pretitle{
                    //font-size: 13px;
                }
                .post-title{
                    margin-top: 10px;
                    cursor: pointer;
                }
            }
            .down{
                padding-top: 15px;
                .post-description{
                    padding-bottom: 15px;
                    //font-size: 13px;
                }
                .post-tags{
                    //font-size: 13px;
                    color: @grey;
                    padding-bottom: 5px;
                }
                .post-time{
                    //font-size: 14px;
                }
                .post-img{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 5px;
                }
            }
            
        }

    }
    &-down{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 10px;
    }
}

#post-img{
    max-width: 500px;
    max-height: 500px;
}
.show-more-btn{
    border: none;
    background-color: white;
    font-size: 15px;
    display: block;
    cursor: pointer;
    color: @blue;
    margin-top: 3px;
}

.post-btn {
    //font-size: 12px;
    border: thin solid @border-color;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.6em;
    background-color: @blue;
    color: white;
    border-radius: 4px;
    float: right;
    &:hover{
        background-color: darken(@blue, 5%);
    }
}

.do-btn {
    border: thin solid @border-color;
    cursor: pointer;
    display: inline-block;
    padding: 0.6em;
    background-color: @blue;
    color: white;
    margin-top: 10px;
    border-radius: 4px;
    &:hover{
        background-color: darken(@blue, 5%);
    }
}
.image-button{
    border: none;
    margin-top: 5px;
    background-color: @label-background;

}

input, select, .checkbox{
    border: thin solid darken(@border-color, 10%);
    border-radius: 3px;
    width: auto;
   
}
.tags{
    height: 55px;
    padding: 5px;
    padding-left: 10px;
}
.input, .postSorting {
    width: auto;
    padding: 5px;
}

.pagination {
    a {
        padding: 5px 10px;
        border: 1px solid @blue;
        border-radius: 3px;
        background-color: white;
        color: @blue;
        cursor: pointer;
        font-size: 16px;

        &:hover {
            background-color: #e7f3ff;
        }
        &.active {
            background-color: @blue;
            color: white;
            border-color: @blue;
        }
        
    }

}

.count-post{
    display: flex;
    flex-direction: column;
    align-items: center;

    &-select{
        padding: 5px;
        width: 100%;
    }
}

#comment, #like{
    height: 15px;
    width: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    border: thin solid darken(@border-color, 10%);
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 150px;
    min-width: 130px;
    z-index: 10;

    a{
        color: black; 
        padding: 10px 20px;
        text-decoration: none;
        display: block;
        &:hover{
            background-color: @footer-background;
        }
    }
}
.dropdown-content.visible {
    display: block;
}


.user-menu {
    &-email {
        color: black; 
        cursor: pointer; 
        display: inline-block; 
        
        margin-right: 5px; 
        &:hover .dropdown-content {
            display: block; 
            position: relative;
        }
    }
}

.dropdown-arrow {
    color: black; 
    cursor: pointer; 
    vertical-align: middle; 
}
#rightMenu {
    position: relative;
}

